@using Dnevnik.Blocks.Core
@{
    ViewBag.Title = "Index";

}

<div class="header" style="display: inline-block; width: 100%;">
    
    @Html.Block(new Block
                {
                    Name = "logo",
                    Mods = new[] { "red", "big" }
                })

    @Html.Block("search", new { defaultValue = "Поиск" })
    @Html.Block("profile")

    <div style="">
        @Html.BlockWithJs(new Block
                          {
                              Name = "menu"
                          })

    </div>
</div>
<div class="body" style="display: inline-block; width: 100%;">
    @Html.Block(new Block
                {
                    Name = "containers/blue",
                    Mods = new[] { "rectangle" },
                    Inners = new[]
                             {
                                 new Block
                                 {
                                     Name = "containers/blue",
                                     Inners = new []
                                              {
                                                  new Block
                                                    {
                                                        Name = "widgets/settings",
                                                        Mods = new [] { "border" },
                                                        Model = new [] { "Hello", "world", "!" },
                                                        WithJs = true
                                                    }
                                              },
                                              Model = "Second level"
                                 }
                             }
                }, "Заголовок")
</div>

<div class="footer" style="display: inline-block; width: 100%;">
    @Html.Block("team_banner")
    <div style="float: left; width: 720px;">
        @Html.Block("promo_menu")
        @Html.Block("social/links")
    </div>
    <div style="float: left">
        @Html.Block("concord")
    </div>
</div>

